<h1>New Practice area</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.practice_area_path(@conn, :create)) %>

<span><%= link "Back", to: Routes.practice_area_path(@conn, :index) %></span>
